.usertile {
  width: 230px;
  height: 90px;
  background: rgba(128,128,128,0.39);
  display: flex;
  border: 1px solid #b3b3b3;
  margin: auto;
  flex-wrap: nowrap;
  align-items: center;
}

.init-box {
  display: flex;
  margin: 15px;
  margin-right: 30px;
  border: 1px solid rgba(204,204,204,1);
  background: rgba(118,118,118,0.33);
  width: 90%;
  padding: 15px;
  justify-content: center;
  flex-direction: column;
}

.about-sidebar-text {
  padding: 10px;
  text-align: justify;
}

.about-section {
  width: 90%;
  margin: 20px;
  padding: 15px;
  padding-top: 5px;
  background-color: rgba(1,80,65,0.5);
}

.usertile-icon {
  padding: 5px;
}

.usertile-name {
  padding-top: 3px;
  font-size: 10pt;
}

.usertile-key {
  font-family: monospace;
  font-size: 10px;
}

.usertile-table {
  color: white;
  height: 80%;
  margin-top: 15px;
}

.sidebar {
  width: 300px;
  height: 100%;
}

.logo {
  background-color: rgba(1,80,65,1);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar-info {
  background: linear-gradient(rgba(1,80,65,1),rgba(1,80,65,0.75),rgba(1,80,65,0.05),rgba(1,62,46,0));
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  font-size: 10pt;
}

.navbutton {
  width: auto;
  height: 25px;
  text-align: center;
  border: 0px solid white;
  background: rgba(128,128,128,0.1);
  color: white;
  margin: auto;
  flex-grow: 1;
}

.navbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.message {
  border: 1px solid rgba(204,204,204,1);
  background: rgba(118,118,118,0.33);
  width: 97%;
  height: auto;
  color: white;
  margin: 10px;
  display: flex;
}

.blacklisted {
  border: 1px solid rgba(204,204,204,1);
  background: rgba(118,118,118,0.33);
  width: 97%;
  height: auto;
  color: white;
  margin: 10px;
  display: flex;
  justify-content: center;
  line-height: 30px;
  font-size: 10pt;
}

.message-userdata-tag-container {
  display:flex;
  flex-direction:column;
}

.server-signed-message {
  border: 1px solid rgba(126,226,231,1);
}

.message-usertile {
  margin: 5px;
}

.message-text {
  padding: 15px;
  padding-left: 10px;
  flex-grow: 1;
  font-size: 10pt;
  flex-wrap: wrap;
}

.mainSection {
  width: auto;
  height: auto;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}

.flex-box {
  display: flex;
  color: white;
}

.sidebar-tag-container {
  width: 90%;
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.sidebar-icons {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  width: 100%;
}

.message-tag-container {
  display: flex;
  justify-content: space-between;
  width: auto;
  line-height: normal;
}

.thread-tag-box {
  font-size: 12px;
  padding: 5px;
  margin: 5px;
  width: 90%;
}

.message-tag-box {
  margin: 3px;
  background: rgba(0,0,0,0);
}

.thread-tag-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.message-tag-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.thread-tag-key {
  line-height: 18px;
  font-family: monospace;
}

.thread-tag-userbox {
  border: 1px solid rgba(179,179,179,1);
  color: white;
}

.message-tag-userbox {
  color: white;
  text-align: left;
}

.thread-tag-serverbox {
  border: 1px solid rgba(126,226,231,1);
  color: rgba(126,226,231,1);
}

.message-tag-serverbox {
  border: 1px solid rgba(126,226,231,1);
  color: rgba(126,226,231,1);
  text-align: right;
}

.tag {
  border: 1px solid rgba(179,179,179,1);
  color: white;
  background: rgba(128,128,128,1);
  width: 60px;
  height: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 12px;
  margin: 2px;
  text-align: center;
}

.tag-favourite {
  background: rgba(0,128,0,1);
}

.tag-blacklist {
  background: rgba(85,0,0,1);
}
